<!DOCTYPE html>
<html>
  <head>
	    <title> Recipefinder </title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
	  	<header>
	  		<h1> WELCOME TO MILICA's RECIPE FINDER APP :) </h1>
	  	</header>

	    	<%= yield %>
		   		<footer>
		   			<h3> <p>Powered By Food2Fork.com</p> </h3>
		   		<footer>
    </body>
</html>
